.container-login{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-login h3 {
    color: var(--blue_ligth);
    font-size: 30px;
}

.login-link{
    display: flex;
    width: 387px;
    height: auto;
    justify-content: space-between;
    font-size: 24px;
    color: var(--orange);
    font-weight: 700;
}

.login-link p:hover{
    cursor: pointer;
}

.link-login{
    border-bottom: 4px solid var(--orange);
    padding: 15px;
}

.link-signup{
    color: var(--gray);
    border-bottom: 4px solid var(--gray);
    padding:15px;
}

.title-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-login p{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 200;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 422px;
    height: auto;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.container-input label{
    color: rgba(0,0,0,0.5);
    font-weight: 800;
    font-size: 16px;
    margin: 10px 0px;
}

.container-input input{
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: var(--pink4);
    outline: 1px solid var(--blue_ligth);
}

.container-input input:focus{
    border: 1px solid var(--orange_ligth);
}

.span-email{
 display: none;
}

.span-password{
display: none;
}

.span-fetch{
    display: none;
}

.error{
    color: red;
    font-size: 14px;
}

.button-login{
    background-color: var(--blue_ligth);
    border: none;
    border-radius: 5px;
    outline: none;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

@media (max-width: 375px) {
    .container-login {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .container-login h3 {
      text-align: center;
    }
    .login-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
