.container-sign{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-sign h3 {
    font-size: 32px;
    font-weight: 700;
    font-family: Roboto;
    color: var(--blue_ligth);
    margin-bottom: 10px;
}

.sign-link{
    display: flex;
    width: 387px;
    height: auto;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
}

.sign-link p:hover{
    cursor: pointer;
}

.sign-login{
    color: var(--gray);
    border-bottom: 4px solid var(--gray);
    padding:15px;
    
}

.sign-signup{
    color: var(--orange);
    border-bottom: 4px solid var(--orange);
    padding: 15px;
}



.title-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 410px;
    height: auto;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.container-input input{
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    /*border: 1px solid blue;*/
}

.container-input input::placeholder{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
}

.span-signemail{
 display: none;
}

.span-signpassword{
display: none;
}

.span-birthday{
    display: none;
}

.span-gender{
    display: none;
}

.span-sign{
    display: none;
}

.error{
    color: red;
    font-size: 14px;
}

.container-gender{
    display: flex;
    gap: 50px;
    align-items: center;
}

.container-gender label{
    color: rgba(0,0,0,0.5);
    font-weight: 800;
}

.container-gender div{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(0,0,0,0.5);
    font-weight: 800;
}

.button-sign{
    background-color: var(--blue_ligth);
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

@media (max-width: 375px) {
    .container-sign {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .container-sign h3 {
      text-align: center;
    }
    .sign-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
